<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weforex</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">

        <div class="col-md-6">
    
            <div class="card">
    
                <div class="card-body">
                    <center><h3>WEFOREX GLOBAL TRADING SEMINAR</h3></center>
                    <p>You are cordiall invited to join us for an insightful trading seminar on the 18th of April at YMCA Lower State House Road from 2pm to 5pm. </p>
    
                    <p>Event Highlights 
                        <span><br>-Understanding market Trends: Dive deep into analyzing and interpreting the ever changing market dynamics. </span>
                        <span><br>-Learn Effective Risk Management. Equip yourself with strategies  to safeguard your investments and optimize returns. </span>
                        <span><br>-Network with industry Experts:Engage with seasoned professionals and fellow enthusists to expand your financial knowledge and opportunities.</span>
                        <span><br>Fill in the form below to reserve your spot.Limited slots available. 
                        <span><br>We look forward to seeing you there!</span>
                    </p>
                    <br>
                    <hr>
                    <p>melichizedekw@gmail.com <span style="color: blue;">Switch accounts</span></p>
    
                    <!-- pop up notification -->
                    <br>
                    <hr>
                    <p style="color: red;">*Indicates required section</p>
    
                </div>  
    
            </div> <!-- end of a card -->
            
            <br>
            <!-- beginning of another card -->
            <center>
            <div class="card">
                
                <div class="card-body">
                   <p>WEFOREX GLOBAL</p>
                    
                    <img src="../static/IMG-20240413-WA0000(1).jpg" alt="weforex" width="70%" height="100%">
                </div>
    
            </div>
            </center>
            <div class="card">
                <div class="card-body">
                    <form action="">
                        <label for="name">FULL NAMES <span style="color: red;">*</span></label><br>
                        <input type="text" placeholder="Your answer">
                    </form>
                </div>
            </div>
            
            <form action="">
                <div class="card">
                    <div class="card-body">
                        
                            <label for="name">EMAIL ADDRESS <span style="color: red;">*</span></label><br>
                            <input type="text" placeholder="Your answer">
                        </form>
                    </div>
                </div>
        
                <div class="card">
                    <div class="card-body">
                        <form action="">
                            <label for="name">PHONE NUMBER <span style="color: red;">*</span></label><br>
                            <input type="text" placeholder="Your answer">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button type="submit">Submit</button>
                    </div>
                        <br>
                    <div class="col-md-2">
                        <button type="reset">Reset</button>
                    </div>
                </div> 
            </form>
        </div>
    
    </div>
</body>
</html>